@font-face {
  font-family: Space Grotesk Frontify;
  font-style: normal;
  font-weight: 400;
  src: url(https://cdn.frontify.com/fonts/SpaceGroteskFrontify-Regular.woff2)
      format("woff2"),
    url(https://cdn.frontify.com/fonts/SpaceGroteskFrontify-Regular.woff)
      format("woff");
}

@font-face {
  font-family: Space Grotesk Frontify;
  font-style: normal;
  font-weight: 500;
  src: url(https://cdn.frontify.com/fonts/SpaceGroteskFrontify-Medium.woff2)
      format("woff2"),
    url(https://cdn.frontify.com/fonts/SpaceGroteskFrontify-Medium.woff)
      format("woff");
}

@font-face {
  font-family: Space Grotesk Frontify;
  font-style: normal;
  font-weight: 700;
  src: url(https://cdn.frontify.com/fonts/SpaceGroteskFrontify-Bold.woff2)
      format("woff2"),
    url(https://cdn.frontify.com/fonts/SpaceGroteskFrontify-Bold.woff)
      format("woff");
}
